html, body{
   height: 100%;
   background-color: white;
 }

 .contenedor1{
   height: 50%;
   margin: 1% 1%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .center {
     margin-left: auto;
     margin-right: auto;
     display: block;
     width: 45%;
     height: 100%;
 }

 .contenedor2{
   height: 30%;
   background-color: #F4BF82;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1% 1%;
 }
 .contenedor3{
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
margin: 1% 1%;
 }
 .contenedor_trolley{
   height: 5%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1% 1%;
 }

.button_content{
  border-radius: 20px;
  margin: 2px 10px;
  display: flex;
  -webkit-box-shadow: -4px 2px 46px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 2px 46px 6px rgba(0,0,0,0.75);
  box-shadow: -4px 2px 46px 6px rgba(0,0,0,0.75);
}
.button_product{
  margin: 2px 10px;
}

.button_registry{
  position: absolute;
  top: 10px;
  right: 40px;
  padding: .375rem .75rem;
  border: 1px solid #F4BF82;
  border-radius: .25rem;
  color: #F4BF82;
  font-size: 35px;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}
.button_registry:hover, ..button_registry:active, .button_registry:focus {
  color: #F4BF82;
  background-color: #F4BF82;
}

.button_volver{
  position: absolute;
  top: 10px;
  left: 40px;
  padding: .375rem .75rem;
  border: 1px solid #F4BF82;
  border-radius: .25rem;
  color: #F4BF82;
  font-size: 25px;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.button_comprar{
  border: 1px solid #F4BF82;
  border-radius: .25rem;
  color: #F4BF82;
  font-size: 35px;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.button_trolley{
  border-radius: 20px;
  margin: 2px 10px;
  display: flex;
  border: 1px solid #F4BF82;
  border-radius: .25rem;
  color: #F4BF82;
  font-size: 30px;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}
.img_product{
  border-radius: 20px;

}
